.notification {
  position: absolute;
  top: 50px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50; /* Green background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 100; /* Ensure it's above other elements */
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}
